{
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "destructuring": true,
          "arrowFunctions": true,
          "classes": true,
          "objectLiteralShorthandMethods": true,
          "spread": true,
          "modules": true
      }
  },
  "plugins": [
    "babel",
    "flowtype"
  ],
  "rules": {
    "no-case-declarations": 0,
    "no-console": 0,
    "no-var": 1,
    "no-unneeded-ternary": 1,
    "no-whitespace-before-property": 1,
    "no-trailing-spaces": 1,
    "semi": [1, "never"],
    "quotes": [1, "single"],
    "strict": [1, "never"],
  },
  "env": {
    "node": true
  },
  "globals": {
    "fetch": true,
    "Promise": true,
    'window': true,
    'describe': true,
    'it': true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended",
  ]
}
